@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');


body {
    background-color: #ffffff;
}

hr {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-top: 1px double #050505;
    padding: 3px;
}

.container-fluid {
    overflow: hidden;
}

/*----------------------------------------------------Images */

.card-img-top {
    border-radius: 3px;
}

.full-recipe-img {
    max-width: 100%;
    filter: contrast(1.3);
    display:block;
    height: auto;
    margin-top: 20px;
    border-radius: 3px;
}

.img-hover figure img {
    -webkit-filter: grayscale(0) contrast(1.3);
    filter: grayscale(0) contrast(1.3);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.img-hover figure:hover img {
    -webkit-filter: grayscale(100%) contrast(1.3);
    filter: grayscale(100%) contrast(1.5);
}

.img-hover-2 figure img {
    transition: 1s ease;
}

.img-hover-2 figure:hover img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s ease;
}

/*----------------------------------------------------General Text */

.uppercase {
    text-transform: uppercase;
}

.error-message {
    color: red;
    text-align: center;
}

.success {
    color: darkgreen;
    text-align: center;
}

.reg-title, .log-title, .recipe-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-shadow: 2px 2px #FFFACD;
    display: block;
    letter-spacing: 2px;
    margin-top: 5px;
    color: #050505;
}

.main-title {
    font-weight: 300;
    font-size: 68px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-shadow: 2px 2px #FFFACD;
    letter-spacing: 2px;
    color: #050505;
    padding: 15px;
}

.reg-title, .log-title {
    font-weight: 200;
    font-size: 40px;
    padding: 10px;
}

.main-p {
    font-family: "Merriweather", sans-serif;
    color: #050505;
    text-align: center;
    margin-top: 10px;
}


.recipe-title {
    font-weight: 200;
    border-radius: 3px;
    padding: 5px;
}

.recipe-p, .account-title {
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-weight: 100;
    color: #050505;
    padding: 3px;
}

.a-here {
    color: #000000;
    background: #FFFFF0;
    padding: 2px;
    text-decoration: none;
    border-radius: 3px;
}

.a-here:hover {
    color: #000000;
}

.center-text {
    text-align: center;
    color: #000000;
}

/*----------------------------------------------------Button */

.btn-custom {
    box-shadow: 0 0 1px rgb(128,128,128);
}

/*----------------------------------------------------Navigation */

.logo {
    width: 60px;
    height: 60px;
    float: left;
    position: relative;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 2;
    border-radius: 30px;
    box-shadow: 0 0 1px rgb(128,128,128);
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

.dropdown-menu-custom a {
    background: #ffffff;
}

.dropdown-menu-custom a:hover {
    background: #000000;
    color: #F0E7E7;
}

.nav-item {
    text-align: right;
}

.navbar-custom {
    box-shadow: 0 0 1px rgb(128,128,128);
}

li {
     cursor: pointer
}

/*----------------------------------------------------Index */

.page-title {
    height: 65vh;
    min-height: 500px;
    background-image: url('../img/splash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*----------------------------------------------------Forms */

.container-form, .container-recipe, .page-title {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.container-add-edit-rec {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    box-shadow: 0 0 1px rgb(128,128,128);
    background-color: #dcdcdc;
}

.form-group {
    text-align: center;
}

.center-already {
    text-align: center;
    color: #f0e7e7;
}

.required:after {
    content: " *";
    color: red;
}

/*----------------------------------------------------Recipes */

.pagination li a {
    color: #F0E7E7;
    background: #323036;
}

.pagination li a:hover {
    background: #000000;
    color: #F0E7E7;
}

.card-recipe {
    padding-top: 10px;
    margin: 15px;
    color: #000000;
    background: #ffffff;
    box-shadow: 0 0 1px rgb(128,128,128);
}

.list-style {
    color: #000000;
    background: #ffffff;
    border: 1px solid #050505;
    border-radius: 3px;
    padding: 10px;
}

.time-prep {
    padding: 3px;
}

.col-center {
    text-align: center;
    display: inline-block;
    padding: 3px;
}

/*----------------------------------------------------Recipe - details */

.container-recipe-details {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    box-shadow: 0 0 1px rgb(128,128,128);
}

/*----------------------------------------------------Footer */

.container-footer {
    text-align: center;
    margin-bottom: 15px;
    margin-left: 50px;
}

.social-links-footer li a i {
    width: 34px;
    height: 34px;
    padding: 13px 0;
    border-radius: 20px;
    font-size: 14px;
    line-height: 8px;
    margin-top: 30px;
    color: #FFFFF0;
    background: #000000;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links-footer li a i:hover {
    background: #FFFFF0;
    color: #000000;
}

.footer-year {
    color: #050505;
    padding:0;
    font-family: Merriweather, sans-serif;
}

/*----------------------------------------------------Media Queries */

@media (max-width: 280px) {
    .main-title {
        font-size: 28px;
    }

    .main-p {
        font-size: 14px;
    }
      .container-form, .container-recipe, .container-recipe-details,
    .container-add-edit-rec, .container-footer {
        margin-left: 0;
    }

    .page-title {
        margin-top: 20px;
    }
}

@media (min-width: 281px) and (max-width: 767px) {
    .main-title {
        font-size: 36px;
    }

    .main-p {
        font-size: 16px;
    }

    .container-form, .container-recipe, .container-recipe-details,
    .container-add-edit-rec, .container-footer {
        margin-left: 0;
    }

    .page-title {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .container-add-edit-rec {
        margin-left: 25px;
    }

}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container-add-edit-rec {
        margin-left: 30px;
    }
}

