@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700');


html {
    height: 100%;
}

.container-fluid {
    overflow: hidden;
}

body {
    height: 100%;
    background-color: #000;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-top: 1px double #f0e7e7;
    padding: 3px;
}

/*----------------------------------------------------Images */
.register-image {
    margin-bottom: 15px;
    mix-blend-mode: hard-light;
    opacity: 0.6;
    border-radius: 10px;
    border: 1px solid #F0E7E7;
    box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -webkit-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -moz-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
}

.card-img-top {
    border-radius: 10px;
}

.full-recipe-img {
    max-width: 100%;
    filter: contrast(1.3);
    display:block;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -webkit-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -moz-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
}

.img-hover figure img {
    -webkit-filter: grayscale(0) contrast(1.3);
    filter: grayscale(0) contrast(1.3);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -webkit-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -moz-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
}

.img-hover figure:hover img {
    -webkit-filter: grayscale(100%) contrast(1.3);
    filter: grayscale(100%) contrast(1.5);
    box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -webkit-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;
    -moz-box-shadow: 5px 5px #000000, 5px 5px 0 1px #ffffff;

}

.img-hover-2 figure img {
    transition: 1s ease;
}

.img-hover-2 figure:hover img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 1s ease;
}


/*----------------------------------------------------General Text */

.uppercase {
    text-transform: uppercase;
}

.error-message {
    color: red;
    text-align: center;
}

.success {
    color: darkgreen;
    text-align: center;
}

.title, .reg-title, .log-title, .recipe-title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-shadow: 1.5px 1.5px 1px #9a9a9a;
    display: block;
    letter-spacing: 2px;
    margin-top: 5px;
    color: #f0e7e7;
}

.title {
    font-weight: 300;
    font-size: 48px;
    border: 1px solid #F0E7E7;
    border-radius: 10px;
}

.reg-title, .log-title {
    font-weight: 200;
    font-size: 40px;
    padding: 10px;
}

.main-p {
    font-family: "Merriweather", sans-serif;
    color: #f0e7e7;
    text-align: center;
    margin-top: 10px;
}

.main-p-margin {
    margin-bottom: 300px;
}

.recipe-title {
    font-weight: 200;
    text-shadow: 2px 2px 2px #FBBFCA;
    border: 1px solid #F0E7E7;
    border-radius: 10px;
    padding: 5px;

}

.recipe-p, .account-title {
    font-family: "Merriweather", sans-serif;
    text-align: center;
    font-weight: 100;
    color: #f0e7e7;
    padding: 3px;
}

.a-here {
    color: #F0E7E7;
    background: #323036;
    padding: 2px;
    text-decoration: none;
    border-radius: 3px;
    position: center;
}

.a-here:hover {
    background: #6D6875;
    color: #F0E7E7;

}

.logged-display {
    text-align: center;
}


/*----------------------------------------------------Navigation */
.navbar-custom {
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    width: 60px;
    height: 60px;
    float: left;
    position: relative;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    z-index: 2;
    border-radius: 30px;
    box-shadow: 1.5px 1.5px 3px #f0e7e7;
    -webkit-box-shadow: 1.5px 1.5px 3px #f0e7e7;
    -moz-box-shadow: 1.5px 1.5px 3px #f0e7e7;
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

.dropdown-menu-custom a {
    background: #ffffff;
}

.dropdown-menu-custom a:hover {
    background: #000000;
    color: #F0E7E7;
}

.nav-button-custom {
    margin: 0;
}

.nav-item {
    text-align: right;
}

/*----------------------------------------------------Carousel, Title */

.container-title {
    padding-left: 30px;
    padding-right: 30px;

}

.container-carousel {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}


/*----------------------------------------------------Forms */
.spacer {
    padding: 5px;
}

.container-form {
    position: relative;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.container-add {
    position: relative;
    display: block;
}

.container-add::after {
    content: "";
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center;
}



.form-group {
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
}

.reg-log-btn {
    padding-top: 15px;
}


.center-already {
    text-align: center;
    color: #f0e7e7;
}

.required:after {
    content: " *";
    color: red;
}


/*----------------------------------------------------Recipes */

.container-recipe,.container-my-recipes {
    position: relative;
    width: 95%;
}


.container-full_page {
    padding-top: 10px;
    border: 1px solid #F0E7E7;
    border-radius: 10px;
    width: 95%;
}

.pagination li a {
    color: #F0E7E7;
    background: #323036;
}

.pagination li a:hover {
    background: #000000;
    color: #F0E7E7;
}

.card-recipe {
    padding-top: 10px;
    margin: 30px;
    color: #F0E7E7;
    background: #000000;
    border: 1px solid #F0E7E7;
    border-radius: 10px;
}

.list-style {
    color: #F0E7E7;
    background: #000000;
    border: 1px solid #F0E7E7;
    border-radius: 10px;
    padding: 10px;

}

.list-padding {
    padding: 3px;
}

.col-center {
    text-align: center;
    display: inline-block;
    padding: 3px;
}

/*----------------------------------------------------Footer */

.container-footer {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.social-links-footer li a i {
    width: 34px;
    height: 34px;
    padding: 13px 0;
    border-radius: 30px;
    font-size: 14px;
    line-height: 8px;
    margin-top: 30px;
    color: #F0E7E7;
    background: #323036;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links-footer li a i:hover {
    background: #6D6875;
}

.footer-year {
    color: ghostwhite;
    padding: 0;
    font-family: Merriweather, sans-serif;
}



/*----------------------------------------------------Media Queries */

@media (max-width: 768px) {
    .title {
        font-size: 38px;
    }

    .main-p {
        font-size: 20px;
    }

    .container-add::after {
        background-image: none;
    }
}

