{% extends 'base.html' %}
{% block content %}

    <!--Edit Recipe-->

    <section id="edit-recipe">

        <div class="container container-add-edit-rec">
            <form action="{{ url_for('update_recipe', recipe_id=full_recipe._id) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col text-center">
                        <h2 class="recipe-title p-4">Edit Recipe</h2>
                    </div>
                </div>

                <!--Form Fields-->

               <div class="form-group form-label">
                    <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="recipe_name"> Recipe Name
                            <i class="fas fa-signature p-2"></i>
                        </label>
                        <input id="recipe_name" name="recipe_name" value="{{ full_recipe.recipe_name }}"
                               class="validate form-control" type="text"/>
                    </div>
                     <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="recipe_category"> Category
                            <i class="fas fa-file-signature p-2"></i>
                        </label>
                        <select id="category_name" name="category_name" class="validate form-control" required>
                            <option value="" disabled selected>Select an option</option>
                            {% for category in categories %}
                                {% if category.category_name == full_recipe.category_name %}
                                    <option value="{{ category.category_name }}"
                                            selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                     </div>
                     <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="recipe_description"> Recipe Description
                            <i class="fas fa-pencil-alt p-2"></i>
                        </label>
                        <input id="recipe_description" name="recipe_description" class="validate form-control"
                               value="{{ full_recipe.recipe_description }}" type="text"/>
                    </div>
                     <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="recipe-p uppercase" for="prep_time"> Recipe Image <i
                                class="fas fa-question-circle p-2"></i></label>
                        <input id="recipe_image" name="recipe_image" class="validate form-control"
                               value="{{ full_recipe.recipe_image }}" type="text"/>
                    </div>
                     <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="prep_time"> Cooking Time
                            <i class="far fa-clock p-2"></i>
                        </label>
                        <input id="prep_time" name="prep_time" class="validate form-control"
                               value="{{ full_recipe.prep_time }}" type="number"/>
                    </div>
                     <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="it_serves"> Number of Serving
                            <i class="far fa-check-circle p-2"></i>
                        </label>
                        <input id="it_serves" name="it_serves" class="validate form-control"
                               value="{{ full_recipe.it_serves }}" type="number"/>
                    </div>

                 <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="recipe_ingredients"> Recipe Ingredients
                            <i class="fas fa-list-ol p-2"></i>
                        </label>
                        <textarea id="recipe_ingredients" name="recipe_ingredients" class="validate form-control"
                                  type="text">{{ full_recipe.recipe_ingredients }}</textarea>
                    </div>
                 <div class="col-12 col-md-8 offset-2 p-2">
                        <label class="required recipe-p uppercase" for="recipe_method"> Directions
                            <i class="fas fa-list-alt p-2"></i>
                        </label>
                        <textarea id="recipe_method" name="recipe_method" class="validate form-control"
                                  type="text">{{ full_recipe.recipe_method }}</textarea>
                 </div>
                </div>

                <!--Error messages-->

                <div class="row">
                    <div class="col-12">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li class="success">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <!--Button-->

                <div class="row mt-4 justify-content-center">
                    <div class="form-group">
                        <button class="btn btn-info mt-4  uppercase" type="submit" name="action">
                            Update Recipe
                        </button>
                        <a href="{{ url_for('my_recipes') }}" class="btn btn-outline-danger mt-4">Cancel</a>
                    </div>
                </div>
            </form>
        </div>

    </section>

{% endblock %}