{% extends 'base.html' %}
{% block content %}

    <header class="page-title">
        {% if session.username %}
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-12 text-center">
                        <h1 class="main-title">JuiceBAR</h1>
                        <a href="{{ url_for('my_recipes') }}" class="btn btn-outline-dark uppercase mt-4">my account</a>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-sm-12 text-center">
                        <h1 class="main-title">JuiceBAR</h1>
                        <a href="{{ url_for('get_juices') }}" class="btn btn-outline-dark mt-4 uppercase">Juices</a>
                        <a href="{{ url_for('get_recipes') }}" class="btn btn-outline-dark mt-4 uppercase">All
                            Recipes</a>
                        <a href="{{ url_for('get_smoothies') }}"
                           class="btn btn-outline-dark mt-4 uppercase">Smoothies</a>

                    </div>
                </div>
            </div>
        {% endif %}
    </header>

    <!-- Page Content -->
    <!--Paragraph with link or browse - depending if user logged in or not-->

    <!--Flash Messages-->
    <div class="row">
        <div class="col-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li class="success">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>


    {% if session.username %}

    {% else %}
        <hr>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p class="main-p">Great way to explore, add and save recipes you love.
                        Register <a class="a-here" href="{{ url_for('register') }}">here</a> to create your own
                        juicing
                        book! </p>
                </div>
            </div>
        </div>
        <hr>
    {% endif %}



{% endblock %}