{% extends 'base.html' %}
{% block content %}


    <!--Login container-->

    <section id="login-form">

        <div class="container container-form">

            <!--Error messages-->
            <div class="row">
                <div class="col-12">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error-message">
                                    {{ message }}
                                </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="row justify-content-sm-center">
                <div class="d-none d-sm-block col-md-4 col-lg-3">
                    <img class="image-fluid"
                         src="{{ url_for('static', filename='img/water.png') }}"
                         alt="registration">
                </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                    <h2 class="reg-title">Login</h2>
                    <form action="" method="POST">
                        <hr>
                        {{ form.hidden_tag() }}
                        <div class="form-group recipe-p form-label">
                            <label for="username">Username <i class="fas fa-question-circle"></i></label>
                            {{ form.username(placeholder="username", id="username", class="from=label") }}
                            {% for error in form.username.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group recipe-p form-label">
                            <label for="password">Password <i class="fas fa-lock"></i></label>
                            {{ form.password (placeholder="password", id="password", class="from=label") }}
                            {% for error in form.password.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <!--Button-->

                        <div class="form-group">
                            {{ form.submit(class="btn btn-info") }}
                        </div>

                        <!--Link to register page-->

                        <div class="row center-text">
                            <div class="col s12">
                                <small>Not a user?
                                    <a class="a-here" href="{{ url_for('register') }}">Register here!</a></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

{% endblock %}