
{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row">

            <div class="col">
                <h3 class="recipe-title"> {{ full_recipe.recipe_name }} </h3>
            </div>

        </div>
        {% if session.username == full_recipe.author %}
            <div class="row">
                <div class="col-md-6">
                    edit
                </div>
                <div class="col s6 center-align">

                        Delete

                </div>
            </div>
            {% endif %}


    </div>


{% endblock %}

