
{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">

            <div class="col">
                <h3> {{ full_recipe.recipe_name }} </h3>
            </div>

        </div>


    </div>


{% endblock %}

